<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome</title>
</head>

<body>
  <h1>Welcome to our website:
    <spans>
      <a href={{siteUrl}}>Bookstore</a>
    </spans>
  </h1>
  <p>Thank you so much for registration</p>
</body>

</html>