.testimonial {
  grid-column: 1 / 3;
  height: 25vw;
  background-color: white;
  position: relative;

  @include tablet(900px) {
    grid-column: 1 / 5;
    justify-self: center;
    height: 30vw;
    width: 80%;
  }

  @include small-tablet(600px) {
    width: 100%;
    height: 40vw;
  }
  @include mobile {
    height: 55vw;
  }
  &__slider {
    position: absolute;
    width: 100%;
    height: 100%;

    .slick-list,
    .slick-track,
    .slick-slide > div,
    .testimonial__slider--slides {
      width: 100%;
      height: 100%;
    }

    img {
      border-radius: 50%;
      width: 25%;
      @include tablet(900px) {
        width: 22%;
      }
    }
    &--slides {
      &__inner {
        padding: 3vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: space-around;

        &--para {
          font-size: calc(0.8rem + 0.5vw);
          color: #727272;
          margin: 1vw 0;
          @include tablet(900px) {
            font-size: calc(1rem + 0.6vw);
          }
        }
        &--name {
          font-size: calc(0.8rem + 0.5vw);
          color: color(color-green);
          font-weight: bold;
          @include tablet(900px) {
            font-size: calc(1rem + 0.6vw);
          }
        }
      }
    }
  }
}
